/* Common */
$fontSize:14px;
$fontFamily:"Roboto","Helvetica Neue",sans-serif;
$lineHeight:18px;
$textColor:#424242;
$textSecondaryColor:#757575;
$borderRadius:3px;
$dividerColor:#eaeaea;
$dividerLightColor:#f8f8f8;
$iconWidth:20px;
$iconHeight:20px;
$iconFontSize:20px;
$grayBgColor:#757575;
$hoverBgColor:#e8e8e8;
$hoverTextColor:#000000;
$letterSpacing:.25px;
$transitionDuration:.2s;